<% if user_signed_in? %>
  <%= form_for :daily_scrum, url: daily_scrums_search_user_scrums_path do |f| %>
    <p>
      <%= f.label :scrum_sprint, "Please select a sprint:" %><br>
      <%= f.collection_select :sprint_id, Sprint.all, :id, :sprint_number %>
    </p>
    <p>
      <%= f.submit "Choose a sprint" %>
    </p>
  <% end %>
<% else %>
    <div id="error_explanation">
      <h3>Please sign in.</h3>
    </div><!-- end error_explanation -->
<% end %>
